.round-img{
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50em;
  width: 150px;
  height: 150px;
  font-size: 14.4px;
}