.info-tour .bar-group{
    display: flex;
}

.info-tour .bar-group .step{
    float: left;
    width: 100%;
}

.info-tour .bar-group .step .progress-group{
    height: 50px;
    display: flex;
    /* background-color: lightgrey; */
    width: 100%;

}

.progress-group .circle{
    background-color: #E5E5E5;
    float: left;
    height: 35px;
    width: 35px;
    margin: auto 0;
    border-radius: 50%;
}


.progress-group .c-done{
    background-color: #F34E3A!important;
    /* border: 5px solid #FFFFFF; */
}

.progress-group .step-item{
   width: 80%;
   height: 2px;
   float: left;
   vertical-align: middle;
   margin: auto 0;
   background-color: #E5E5E5;
}

.progress-group .active {
    background-color: #F34E3A;
}

.image-tour{
    align-items: center;
}

.image-tour img{
    height: 80%;
    width: 100%;

}

.tour-right{
   /*background-color: red;*/
   /* width: 80%;*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.19);

}

.content-tour{
    width: 95%;
}
