@media screen and (max-width: 600px) {
    .heading .img-background{
        width: 100%;
        height: 250px!important;   
        background-size: cover;
    }
}



.heading{
    /* position: relative; */
    width: 100%;
    height: 400px;
}

.heading .img-background{
    position: relative;
    background-repeat: no-repeat; 
    background-image: url('../images/heading-home.jfif');
    width: 100%;
    height: 400px;   
    background-size: cover;
}

.heading .overlay{
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
    height: inherit;
    width: 100%;
    opacity: 0.6;
}

.img-background .text-in-bg{
    color: white;
    position: absolute;
    top:35%;
    left: 0;
    /* z-index: ; */
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.filter-search-group{
    display: flex;
    /* width: 100%; */
    justify-content: center;
    /* background-color: lightcyan; */
}

.filter-search-group .border-form{
    /* padding: 0; */
    display: flex;
    background-color: rgba(255, 249, 249, 0.507);
    padding: 5px;
    border-radius: 40px;
    /* opacity: 0.5; */
    /* border: 4px solid #F34E3A; */
    
}
.filter-search-group select{
    float: left;
    padding: 15px;
    border-radius: 40px 0px 0px 40px;
    border: none;
    cursor: pointer;
    outline: none;
}

.filter-search-group select:focus{
    padding: 15px;
}
.filter-search-group .text-search{ background-color: white;}
.filter-search-group .text-search input{
    float: left;
    border: none;
    outline: none;
    padding: 15px;
}
.filter-search-group .text-search .icon{
    float:left ;
    padding: 15px;
    color:#F34E3A
}

.filter-search-group button{
    float: left;
    border: none;
    padding: 0 45px;
    border-radius: 0 40px 40px 0;
    background-color: #F34E3A;
    color: white;
    cursor: pointer;
    outline: none;
}

.recommend-two-row .left-side{
    color: white;
    /* display: block;
    height: 200px; */
    background-color: #F34E3A;
    padding: 40px;
}

.recommend-two-row .right-side{
    /* display: block;
    height: 200px; */
    background-color: white;
    padding: 40px;
}

.recommend-two-row{ width: 100%;}
.recommend-two-row .right-side h6{ color: #605E5E;}
.recommend-two-row .right-side h3{ color: #F34E3A;}



.head-row{
    /* display: ; */
    justify-content: space-between;
}

/* .recommend-two-row .left-side .te */
.slide-group .carousel-item{
    height: 300px;
    width: 100%;
}

.slide-group .overlay-slide{
    background-color: black; 
    width: 100%;
    height: inherit;
    opacity: 0.6;
    position: absolute;
    top: 0; ;
    left: 0;
    /* display: inline-flex; */
}

.slide-group .btn-detail-slide{
    background-color: #F34E3A;
    color: white!important;
    border-radius: 30px;
    font-size: 10px;

}

.title-slide-group a{
    transition: all ease 0.2s;
    background-color: white;
    color: #F34E3A;
    text-align: center;
    border-radius: 15px!important;
    border: 1px solid #F34E3A;
    margin: 3px 0;
}

.title-slide-group .active{
    font-weight: bold;
    background-color: #F34E3A!important;
    color: white;
}
.title-slide-group a:hover{
    font-weight: bold;
}

.cam-hung-du-lich{
    padding: 50px 0;
    color: white;
    width: 100%;
    background-color: #05073C;
}

.cam-hung-du-lich .item-cam-hung:hover{
    color: #F34E3A;
    fill: #F34E3A;
}

.dac-trung .content-dac-trung{
    font-size:0.9em;
    line-height: 2.2em;
}

.dac-trung .right-side img{
    width: 100%;
    height: auto;
}

.personal-tour .img-group{
    position: relative;
}

.personal-tour .img-group img{
    height: 100%;
    width: 100%;
}

.personal-tour .img-group .overlay{
    /* display: none; */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: all ease 0.3s;
    cursor: pointer;
}

/* .personal-tour .img-group:hover{
    background-color: red;
    padding-top: 15px;
    display: block;
} */

.personal-tour .img-group .overlay:hover + a{
    display: block;
}
.personal-tour .img-group .overlay:hover{
    opacity: 0.6;
}

.personal-tour .img-group a{
    display: none;
    position: absolute;
    width: 100%;
    top:50%;
    margin: 0;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    background-color: #F34E3A;
    color: white;
    opacity: 1;

}

.personal-tour .img-group a:hover{
    display: block;
}

.personal-tour .content-tour{
    padding: 10px;
}

.content-news .head-img img{
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.content-news .title-heading{
    padding-top: 10px;
    font-size:0.8em;
}

.head-small-content{
    font-size:0.8em;

}

.content-news .small-news{
    padding: 10px 0;
}

.content-news .img-small{
}

.content-news .img-small img{
    width: 100%;
    height: 100%; 
    max-height: 100px;
}

.content-news .small-group{
    justify-content: space-between;
}

.follow-form {
    background-color: #05073C;
    color: white;
}

.follow-form .conn{
    padding: 40px 0;

}

.follow-form .form-subscribe{
    display: flex;
}

.follow-form .form-subscribe input{
    float: left;
    font-size: 13px;
    padding: 7px 20px;
    width: 60%;
    border-radius: 20px 0 0 20px;
    outline: none;
    border: none;
    margin-left: 60px;
}
.follow-form .form-subscribe button{
    float: left;
    font-size: 13px;
    padding: 7px 20px;
    /* width: 60%; */
    background-color: #F34E3A;
    color: white;
    border-radius: 0 20px 20px 0;
    outline: none;
    border: none;
    cursor: pointer;
}
